* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.container {
  margin: 28rem;
  border: red solid 0.2rem;
  border-radius: 10px;
  font-size: 1.6rem;
  padding: 3rem;
}

.container__title {
  display: inline-block;
  position: relative;
  border: 0.2rem black solid;
  border-radius: 20px;
  bottom: 5rem;
  left: 13rem;
  background-color: yellow;
}

.container__content {
  text-align: justify;
}
