/* Tag Called */
h1 {
  color: green;
}

/* Class Called */
.paragraph {
  font-size: 50px;
}

/* ID Called */
#paragraph-id {
  color: brown;
}

/* Attribute called. */
img[src] {
}

p:hover {
  color: red;
}
