/* Nav styles */
.main-nav {
  margin-top: 10px;
  list-style: none;
  background-color: #13a4a4;
}

.main-nav__item {
  display: inline-block;
}

.main-nav__item a {
  padding: 5px;
  text-decoration: none;
  color: white;
}

/* Pseudo Classes */
.main-nav__item a:hover {
  color: blue;
}

.main-nav__item a:active {
  color: red;
}
/* End of Pseudo Classes  */

/* Pseudo Element */
.main-nav__item a::after {
  content: " | ";
}
