* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  color: blue;
}
.title {
  font-size: 200px;
  color: green;
  font-size: 50px;
}
.nav {
  list-style: none;
}
.nav li {
  display: inline-block;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
}
.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.nav .cls {
  background-color: orange;
}
